.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    max-width: 300px;
    transition: all 0.4s ease-in;
    margin: 0 auto;
}

.container:hover{
    transform: scale(1.1);
}